
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Environment variables
.env

# Virtualenv
venv/
*.venv
env/
*.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Anaconda specific
conda_env/
*.conda
